pygame
openai
python-dotenv
tqdm
numpy
requests
debugpy
datetime
Asciimatics
Arcade==2.6.17
Rich
Emoji
Pyjokes
pyexcel
pillow~=9.3.0
pyglet==2.0.dev23
pymunk~=6.4.0
pytiled-parser==2.2.0
pip
pip-review

